<form method="post" action="~/Home/SaveUser">
    <fieldset>
        <legend>Regester infomation</legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <lable for="Usar Name">UsarName</lable>
                    </td>
                    <td>
                        <input id="UsarName"
                               type="text" name="UsarName" value="Usar" size="30" maxlenght="25"
                               placeholder="Type in your usar name" autofocus />
                    </td>
                </tr>
                <tr>
                    <td>
                        <lable fro="Password">Password:</lable>
                    </td>
                    <td>
                        <input id="Password" name="Password"
                               type="password" size="30"
                               placeholder="Type in your pasword" />
                    </td>
                </tr>
            </tbody>
        </table>
        
        <input type="submit" value="Register" />
        <input type="reset" />
        <fieldset />
</form>
<br /><br />
<a href="~/home/Index">Go Back to home page </a>